<h1>Editing Directory Tree</h1>

<%= render 'form', directory_tree: @directory_tree %>

</br>

<%= link_to 'Show', @directory_tree, :class => 'btn btn-primary' %>
<%= link_to 'Back', directory_trees_path, :class => 'btn btn-primary' %>
