@import "bootstrap";

p{
  margin-top: 5px;
}

div.children-nodes{
  margin-left: 20px;
}

div.add-new-node-block{
  margin-left: 30px;
  margin-bottom: 5px;
}

div.new-node-form{
  margin-bottom: 5px;
}
